.float{
	float: left;
}

.center{
	margin: auto;
}

.left{
	float:left;
}

.right{
	float:right;
}

.lightgray{
  	background-color:lightgray;
}

.row{
	padding:20px;
	clear:both;
}

.radio_buttons{
	width:35%;
}

#questions{
	width:100%;
	border-collapse: collapse;
}

#page{
	width:70%;
}

#header{
	clear:both;
}

#disclaimer{
	width:45%;
	border: 1px solid black;
}

#title{
	width:100%;
	display: flex;
  	align-items: center; 
 	clear:both;
 	justify-content: space-between;
}

#name_and_date{
	clear:both;
	overflow:hidden;
}

#instructions{
	margin-top: 10px;
}

#questions{
	overflow:hidden;
	border-color: lightgray;
	margin-top: 10px;
}

input {
  font-size: 30px;
  background-color:skyblue;
  border-bottom: 1px dashed black;
}