.center{
	margin:0 auto;
}
div{
	max-width: 660px;
}
.border{
	border: 1px solid black;
}

.full{
	width:100%;
}

.border_red{
	border:1px solid red;
}

.gray{
	background-color:lightgray;
}

.fit{
	display:inline-block;
}

.parent_center{
	text-align: center;
}

.spacing{
	margin-bottom:10px;
}

#body{
	align-content:center;
}

#title{
	text-align: center;
}

#name{
	font-size: 20px;
}

#date{
	font-size:20px;
}

#name_div{
	float: right;
}

#questions{
	width:100%;
}

table {
  border-collapse: collapse;
}

table, th, td {
	padding:5px;
}

tr {
	padding:10px;
}

input {
  font-size: 30px;
  background-color:#cef1ff;
  border-bottom: 1px dashed black;
}
					div{ padding:10px; max-width: 660px; min-width:550px; }
